---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import logo from "../images/Logo.svg";

const title = "Home";
---

<Layout title={title}>
	<Header />
	<section class="m-auto w-10/12 py-8">
		<img src={logo} width="150px" alt="">
		<div>
			<h1>Take your vision into a reality and take business to the next level</h1>
		</div>
	</section>
	<Footer />
</Layout>