---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import logo from "../images/Logo.svg";

const title = "Home";
---

<Layout title={title}>
	<Header />
	<section class="m-auto w-10/12 py-8 h-screen">
		<img src={logo} width="150px" alt="">
		<div class="rounded-lg border mt-12 p-12 border-slate-600/50 text-center">
			<h1>Take your vision into a reality and take business to the next level</h1>
			<div class="grid grid-cols-3">
				<div>
					<span>🎯 MVP Devlopment</span>
				</div>

				<div>
					<span>🎯 MVP Devlopment</span>
				</div>

				<div>
					<span>🎯 MVP Devlopment</span>
				</div>
			</div>
		</div>
	</section>
	<Footer />
</Layout>