---

---

<nav class="flex justify-between w-full align-center text-s font-light">
    <ul class="flex gap-4">
        {[
            ['Work', '/dashboard'],
            ['Blog', '/team'],
            ['Contact', '/projects'],
          ].map(([title, url]) => (
            <a href={url} class="hover:text-sky-400">{title}</a>
          ))}
    </ul>
    <ul class="flex gap-2">
      {[
        ['Twitter', '/dashboard'],
        ['Instagram', '/team'],
        ['LinkedIn', '/projects'],
      ].map(([title, url]) => (
        <a href={url} class="hover:underline">{title}</a>
      ))}
    </ul>
</nav>