---

---

<nav class="flex justify-end sm:justify-between w-full align-center text-s font-light">
  <ul class="flex gap-4">
    {
      [
        ["Work", "/work"],
        ["Blog", "/blog"],
        ["Contact", "/contact"],
      ].map(([title, url]) => (
        <a href={url} class="hover:text-oxygen transition-colors duration-300">
          {title}
        </a>
      ))
    }
  </ul>
  <ul class="hidden sm:flex gap-2">
    {
      [
        ["Twitter (ð•)", "/"],
        ["Instagram", "https://www.instagram.com/codenewt/"],
        ["LinkedIn", "/"],
      ].map(([title, url]) => (
        <a href={url} class="hover:underline" target="_blank">
          {title}
        </a>
      ))
    }
  </ul>
</nav>
